.container{
    width: 25%;
    height: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    
}
.list{
    height: inherit;
    overflow-y: scroll;
    max-height: 440px;
    height: 150%;
}
.list::-webkit-scrollbar{
    display: none;
}
