.profilePageContainer {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px; 

}

.inputRow {
    display: flex;
    justify-content: space-between; 
    width: calc(100% - 40px); 
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin: 0 10px; 
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: var(--color-placeholder);
}
.profilePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
  
.profilePictureContainer {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%; /*set border radius 50% to make it a douwira*/
    overflow: hidden;
    margin-bottom: 1rem;
}
  
.profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.defaultProfilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    color: var(--color-placeholder);
    font-size: 1rem;
    font-weight: bold;
}
  
.profilePictureInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   cursor: pointer;
}

.saveChanges{
    text-align: center;
    height: 50px;
    width: 20%;
    border : solid 1px var(--color-primary);
    color : var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-buttons);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}