.SideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  height: 90vh;
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 30px;
  margin: 15px 10px;
  flex-grow: 0.05;
}

.logo{
  width: 166px;
  height: 102px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.icone{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 5px;
}

.texte{
  width: 90%;
  margin-left: 5px;
  font-size: 17px;
}

.logoutButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.CreateMenuButton{
  height: 48px;
  width: 184px;
  background-color: var(--color-create);
  text-align: left;
}

.CreateMenuButton p{
  margin-left: 55px;
}

.logoutButton{
  margin: 75px auto 0;
  width: 153px;
  margin-top: 75px;
  background-color: var(--color-buttons);
  color: #f1f1f1;
  align-items: center;
  height: 48px;
}