.container{
    display: flex;
    height: 100vh;
}
.formContainer{
    height: 100vh;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.image{
    width: 925px;
    height: 600px ;
    border-radius: 230px;
}
.logo{
    width : 170px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.signInButton{
    height: 50px;
    width: 90%;
    border : solid 1px var(--color-buttons);
    color : var(--color-buttons);
    border-radius: 8px;
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
